.title.text {
    font-family: Nasalization;
}

.container {
    align-items: center;
    display: grid;
    align-content: center;
}

.text {
    color: white;
}

.text .blue-t {
    color: #2C7EFF;
    font-family: inherit;
}

.title {
    font-size: 52px;
    margin: 0;
    line-height: 52px;
    padding-bottom: 1rem;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 3rem !important;
    }
    .title {
        font-size: 40px !important;
        line-height: 40px !important;
    }
    .text {
        font-size: 18px;
        line-height: 18px;
    }
  }
